/* src/pages/BloodInventory.css */
.container {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center; /* Center align table headers and cells */
}

.btn {
  margin-right: 45px; 
}

.text-center {
  text-align: center; /* Custom className for centering text */
}